name: build.yml
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew build
      - uses: actions/upload-artifact@v4
        with:
          path: build/libs/*.jar
